.footer {
	display: flex;
	justify-content: center;
	border-top: 1px solid #4f4f4f;
	width: 100%;
}

.footer__wrap {
	display: flex;
	flex-direction: column;
	max-width: 1123px;
	margin-bottom: 40px;
}

.footer__user {
	display: flex;
	border-bottom: 1px solid #4f4f4f;
	width: 100%;
	margin-bottom: 32px;
	padding-top: 32px;
}

.footer__user__wrap {
	display: flex;
	gap: 178px;
	max-width: 1123px;
	padding-bottom: 32px;
}

.footer__mail {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 373px;
	width: 100%;
}

.footer__search {
	display: flex;
	flex-wrap: wrap;
}

.footer__input {
	background: #1b1a21;
	color: #fff;
	border-radius: 20px;
	border: none;
	height: 40px;
}
