.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	width: 100%;
}

.footer__user {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #4f4f4f;
	border-top: 1px solid #4f4f4f;
	width: 100%;
	margin-bottom: 32px;
	padding: 32px 12px;
}

.footer__user__wrap {
	display: flex;
	max-width: 1123px;
	gap: 20px;

	width: 100%;
	justify-content: space-between;
}

.footer__mail {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 373px;
	width: 100%;
}

.footer__search {
	position: relative;
	display: flex;
}

.footer__input {
	background: #1b1a21;
	color: #fff;
	border-radius: 20px 0 0 20px;
	border: none;
	height: 40px;
	width: 100%;
	padding-left: 18px;
	padding-right: 38px;
	margin-right: -20px;
}

.footer__input::placeholder {
	color: #ffffff;
}

.placeholder {
	display: flex;
	align-items: center;
}

.footer__nav {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.footer__nav__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	padding-bottom: 12px;
}

.footer__nav__item {
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
}

.footer__icon {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 12px;
}

.footer_icon_wrap {
	display: flex;
	width: 100%;
	max-width: 1123px;
	justify-content: space-between;
}

.footer__icon__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}
.footer__icon__icon {
	display: flex;
	gap: 20px;
}

@media screen and (max-width: 1200px) {
	.footer__icon__title {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 768px) {
	.footer_icon_wrap {
		flex-direction: column;
		align-items: center;
	}
	.footer__icon__title {
		text-align: center;
	}

	.footer__user__wrap {
		flex-wrap: wrap;
	}
	.footer__mail {
		max-width: 100%;
	}
	.footer__nav__item {
		font-size: 14px;
		line-height: 21px;
	}

	.footer__nav {
		max-width: calc(50% - 10px);
		gap: 10px;
	}
	.footer__nav__title {
		padding-bottom: 0;
	}
}
