.block__nft {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 12px;
}

.block__nft__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding-top: 60px;
	max-width: 931px;
	width: 100%;
}

.clic {
	display: flex;
	flex-direction: column;
	max-width: 412px;
	width: 100%;
	padding: 84px 0;
}
.nft__title {
	display: inline-block;
	padding-bottom: 23px;
}

.colortext {
	color: #495aff;
}
.alfa__title {
	font-family: "Mulish", sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	color: #ffffff;
}
.alfa__title.adaptiv {
	display: none;
}

.nft__dubl {
	display: flex;
	flex-direction: row;
	gap: 10px;
	max-width: 329px;
	width: 100%;
	padding-bottom: 52px;
}

.long__link {
	display: flex;
	align-items: center;
	padding-bottom: 84px;
	max-width: 306px;
	width: 100%;
}

.nft__ll {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #00c2ff;
	text-decoration: none;
}
.nft__img {
	position: relative;
}
.nft__img img {
	position: relative;
	z-index: 2;
}

.nft__img__back,
.nft__img__back::after,
.nft__img__back::before {
	border: 1px solid;
	border-image-source: linear-gradient(90deg, #0acffe 0%, #495aff 100%);
	border-image-slice: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -10px;
	left: 10px;
	z-index: 1;
}

.nft__img__back::after,
.nft__img__back::before {
	content: "";
	display: block;
}

.nft__img__back::after {
	top: -20px;
	left: 20px;
}
.nft__blur {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	padding: 8px 20px;
	left: 0;
	bottom: 0;
	z-index: 3;
	gap: 10px;
	background: rgba(0, 194, 255, 0.1);
	backdrop-filter: blur(7.5px);
}

.nft__blur__title {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-feature-settings: "salt" on, "liga" off;
	color: #ffffff;
}
.nft__blur__text > p {
	font-weight: 400;
	font-size: 10px;
	line-height: 15px;
	font-feature-settings: "salt" on, "liga" off;
	color: #24252d;
}

@media screen and (max-width: 768px) {
	.alfa__title {
		display: none;
	}
	.alfa__title.adaptiv {
		display: block;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 50px;
	}
	.long__link {
		display: none;
	}
	.block__nft__wrap {
		flex-direction: column;
	}
	.nft__img {
		order: 1;
	}
	.clic {
		order: 2;
		max-width: none;
		padding: 0;
		width: auto;
	}
	.nft__title {
		display: none;
	}
	.nft__dubl__btn.btn {
		padding: 5px 20px;
	}
}
